/model/wrong_multitarget/
/model/single_target_clustering/
/model/r.txt
/mod.png
/model/single_target/6months/
/Fumagalli 8fold CV/
/clustering/spatial_clustering/17.pkl
/clustering/spatial_clustering/clusters_dict_17.pkl
/clustering/spatial_clustering/clusters_dict_kmed_15.pkl
/clustering/spatial_clustering/clusters_dict_kmed_75.pkl
/clustering/spatial_clustering/clusters_dict_kmed_40.pkl
/clustering/spatial_clustering/clusters_dict_5_kmed.pkl
/clustering/dtw_matrices/distance_matrix_2.pkl
/clustering/dtw_matrices/distance_matrix_3.pkl
/clustering/dtw_matrices/distance_matrix_4.pkl
/clustering/dtw_matrices/distance_matrix_5.pkl
/clustering/dtw_matrices/distance_matrix_10.pkl
/clustering/temporal_clustering/3
/clustering/temporal_clustering/20
/clustering/temporal_clustering/clusters_dict_kmed_75.pkl
/clustering/temporal_clustering/clusters_dict_kmed_40_3months.pkl
/clustering/temporal_clustering/clusters_dict_kmed_75_3months.pkl
/clustering/temporal_clustering/clusters_dict_kmed_40.pkl
/clustering/temporal_clustering/clusters_dict_3.pkl
/clustering/temporal_clustering/clusters_dict_6.pkl
/clustering/temporal_clustering/2
/clustering/temporal_clustering/6
/clustering/temporal_clustering/clusters_dict_20.pkl
/clustering/temporal_clustering/15
/clustering/temporal_clustering/clusters_dict_15.pkl
/clustering/temporal_clustering/clusters_dict_10_medoids.pkl
/clustering/temporal_clustering/clusters_dict_2.pkl
/clustering/temporal_clustering/10Medoids
/.idea/
/__pycache__/
/clustering/__pycache__/
/model/__pycache__/
/maybe_useful
/model/prepare_data/__pycache__/
/pipeline.sh
/model/multitarget_time/
/model/multitarget_space/
/model/random_forest_results/models_multi/
/model/random_forest_results/models_single/
/datasets/
/clustering/dictionary_dtw_38.pkl
/clustering/spatial_clustering/4.pkl
/clustering/spatial_clustering/6.pkl
/clustering/spatial_clustering/clusters_dict_4.pkl
/clustering/spatial_clustering/clusters_dict_6.pkl
/clustering/temporal_clustering/dtw_matrices/
/clustering/temporal_clustering/5.pkl
/model/pvitaly/
/clustering/dictionary_dtw.pkl
/clustering/temporal_clustering/
/clustering/spatial_clustering/
/latiano/clustering/
/latiano/multitarget_time/10/
/latiano/multitarget_time/15/
/latiano/multitarget_time/20/
/latiano/multitarget_vertical/time/10/models/
/latiano/multitarget_vertical/time/10/results.txt
/latiano/multitarget_vertical/time/15/models/
/latiano/multitarget_vertical/time/15/results_unique.txt
/latiano/multitarget_vertical/time/20/
/latiano/multitarget_vertical/time/40/
/latiano/single_target_clustering/

